@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root{
color: #202046;
background-color:#fff;
}
body{
font-size: 32px;
font-weight: 300, 500, 700;
font-family: 'Inter', sans-serif;
height: 600px;
width: 1440px;
}
.quotes{
    position: fixed;
    z-index: 3;
    transform: translateY(200px) translateX(100px);
}
.container{
    position: relative;
    top: -60px;
    left: 0;
    display: flex;
}
.textwwithpic{
    position: relative;
    top: 50px;
    left:168px;
    width: 674px;
    z-index: 100;
}
.text{
    position: relative;
    top: 220px;
}
.prev-next{
    border-radius: 25px;
    background-color: #fff;
    width: 105px;
    height: 30px;
    padding-top: 10px;
    z-index: 5;
    top: 638px;
    left: 135px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .right{
    position: relative;
    left: 22px;
    bottom: 10px;
  }
  .left{
    position: relative;
    padding-left: 23px;
    bottom: 10px;
  }
  .image{
    position: absolute;
}
  .her-pic{
    z-index: 4;
    top: 125px;
    left: 70px;
}
  .her-background{
    z-index: 3;
    top: 60px;
    left: 30%;
  }
.pics{
    position:inherit;
}
